<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
    <div id="placa">
        <div>
            {{n1}} + {{n2}} = <input type="text" v-model="res">
        </div>
        <span v-if="n1+n2 === parseInt(res)">
            Você Acertou
        </span>
        <span v-if="n1+n2 !== parseInt(res) && res !== `` ">
            Você Errou
        </span>
    </div>

    <script src="script.js"></script>
</body>

</html>